<%= form_with(model: twitter, local: true) do |form| %>
  <% if twitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>
      <ul>
      <% twitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class:"form-control", id:"exampleFormControlTextarea1"%>
  </div>
  <%= form.submit class:"btn btn-primary" %>
  <%= link_to 'Back', twitters_path, class:"btn" %>
</center>
<% end %>
